@charset "utf-8";

body {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    margin: 0;
    padding: 0;
    background-color: #fff6d5ff;
}


/*.image-container {
    position: relative; /* Ensures container can use position properties */
 /*   width: 100%;
    /*height: 500px; /* Adjust height as needed */
  /*  background-color: #f0f0f0; /* Background color for demonstration */
/*} */


header {
    position: relative;
    background-image: url('images/karo_2.png');
    background-repeat: repeat;
    background-size: auto;
	background-position: center;
    height: 120px;
	width: 100%;
    text-align: center;
    color: black;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('images/zickzack.svg');
    background-repeat: repeat-x;
    background-size: auto 20%;
	background-position: bottom;
    z-index: 1;  /* Stellt sicher, dass das Zickzack-Muster oben ist */
    opacity: 1;  /* Optional: Transparenz hinzufügen */
}



main {
    /*padding: 20px; */
}



.price-28 {
	position: absolute;
	top: 60%;
	right: 30%;
	height: 50px;
	transform: rotate(20deg);
	outline: none;
	z-index: 1;
	opacity: 0.1;
	transition: transform 0.1s ease-out, scale 0.2s ease-out, opacity 0.5s ease-out;
}

.price-28:hover {
	transform: rotate(-20deg);
	transform: scale(1.2);
	opacity: 1;
}



.leaf1 {
    position: absolute; /* Allows positioning using top, right, bottom, left properties */
    top: 300%; /* Adjust the top position */
    left: 50%; /* Adjust the left position */
    width: 200px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
	border: none; /* Entfernt den Rand */
    outline: none; /* Entfernt die Outline */
}

.leaf2 {
	position: absolute;
	top: 20%;
	left: 5%;
	width: 200px;
	height: auto;
	transform: rotate(-50deg);
	border: none;
	outline: none;
	transform-origin: left;
}

.leaf3 {
    position: absolute;
    top: 230%;
    right: 0%;
    width: 200px;
    height: auto;
	border: none;
    outline: none;
}

.leaf4 {
    position: absolute; /* Allows positioning using top, right, bottom, left properties */
    top: 200%; /* Adjust the top position */
    left: -1%; /* Adjust the left position */
    width: 200px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
	border: none; /* Entfernt den Rand */
    outline: none; /* Entfernt die Outline */
	
}

.leaf5 {
    position: absolute;
    top: 15%;
    right: 0%;
    width: 300px;
	height: auto;
	transform: scalex(-1);
	border: none;
    outline: none;
}


.colorflower {
	position: fixed;
    width: 90px;
    height: auto;
	bottom: 10%;
	left: 1%;
    transition: transform 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	border: none;
    outline: none;
	z-index: 9999;
	filter: drop-shadow(0 0 10px rgba(255, 0, 200, 0.7));
}








.colorflower.press {
    transform: rotate(720deg);
}




.sirup-fam-container {
	display: inline-block;
	background: none;
	position: relative;
	margin-top: 10vh;
	width: 100%;
	height: 300px;
}


.sirupfam {
	transform: translateX(50%);
	width: 300px;
	height: auto;
	filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
	transition: transform 0.6s ease-out, filter 1s ease-out;
}

.sirupfam.large {
	transform-origin: center;
	transform: translateX(50%) scale(1.5);
	filter: drop-shadow(0 0 20px rgba(255, 255, 0, 1));
}

.sirupfam:hover {
	cursor: pointer;
}

.price-72 {
	position: relative;
	top: -80%;
	left: 1.6%;
	width: 80px;
	opacity: 0.1;
	transform: rotate(20deg);
	transition: transform 0.1s ease-out, scale 0.2s ease-out, opacity 0.5s ease-out;
}

.price-72:hover {
	transform: rotate(-0deg) scale(1.2);
	opacity: 1;
}

.text-fam {
	pointer-events: none;
    opacity: 0;
	position: relative;
    transform: translate(80%, -100%);
    border: 0px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    max-width: 400px;
    transition: transform 0.5s ease-out, opacity 0.4s;
}

.text-fam.show {
	opacity: 1;
	transform: translate(115%, -100%);
}

#textfeld {
	text-align: center;
    font-size: 32px;
	font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    animation: colorChangered 2s infinite;
	filter: drop-shadow(0 0 5px rgba(255, 0, 0, 1));
}
#textfeld2 {
    font-size: 24px;
	font-family: 'Times New Roman', Times, serif;
}
#textfeld3 {
    font-size: 32px;
	font-family: 'Times New Roman', Times, serif;
}
#textfeld4 {
    font-size: 32px;
	font-family: 'Times New Roman', Times, serif;
}

/*=========================================================*/

.sirup-famsmall-container {
	display: inline-block;
	background: none;
	position: relative;
	margin-top: -20vh;
	width: 100%;
	height: 300px;
}


.sirupfamsmal {
	position: absolute;
	right: 0;
	transform: translateX(-50%);
	width: 300px;
	height: auto;
	filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
	transition: transform 0.6s ease-out, filter 1s ease-out;
}

.sirupfamsmal.large {
	transform-origin: center;
	transform: translateX(-50%) scale(1.5);
	filter: drop-shadow(0 0 20px rgba(255, 255, 0, 1));
}

.sirupfamsmal:hover {
	cursor: pointer;
}

.price-28 {
	position: absolute;
	right: 0;
	top: 0%;
	width: 80px;
	opacity: 0.1;
	transition: transform 0.1s ease-out, scale 0.2s ease-out, opacity 0.5s ease-out;
	transform: translateX(-430%) rotate(20deg);
	z-index: 1;
}

.price-28:hover {
	opacity: 1;
	top: 0%;
	transform: translateX(-430%) rotate(0deg) scale(1.2);
}


.text-famsmall {
	pointer-events: none;
    opacity: 0;
	position: absolute;
	right: 0%;
	top: 0%;
    transform: translate(-80%, 0%);
    border: 0px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    max-width: 400px;
    transition: transform 0.5s ease-out, opacity 0.4s;
	text-align: right;
}

.text-famsmall.show {
	opacity: 1;
	transform: translate(-120%, 0%);
}

#textfeldfamsmall1 {
	font-size: 32px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
	animation: colorChangered 2s infinite;
	filter: drop-shadow(0 0 5px rgba(255, 0, 0, 1));
}
#textfeldfamsmall2 {
	font-size: 24px;
	font-family: 'Times New Roman', Times, serif;
}
#textfeldfamsmall3 {
    font-size: 32px;
	font-family: 'Times New Roman', Times, serif;
}
#textfeldfamsmall4 {
    font-size: 32px;
	font-family: 'Times New Roman', Times, serif;
}


/*=========================================================*/


@keyframes colorChangered {
     0% {
        transform: translateX(100%); /* Startposition außerhalb der rechten Seite */
        color: #ff0000; /* Anfangsfarbe: rot */
    }
    50% {
        transform: translateX(0); /* Mitte: Text ist an seiner normalen Position */
        color: #EF007E; /* Mitte: heller Rotton */
    }
    100% {
        transform: translateX(-100%); /* Ende: Text ist auf der linken Seite außerhalb des Bildschirms */
        color: #ff0000; /* Ende: zurück zur roten Farbe */
    }
}

/*.textfeldmag {
    font-size: 24px;
    font-weight: bold;
    animation: colorChange 2s infinite;
}

.text-containermag {
    opacity: 0;
    transform: translateX(50%);
    border: 0px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    max-width: 400px;
    margin: 0 auto;
    position: absolute;
    top: 66%;
    right: 40%;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.image-wrappermag:hover .text-containermag {
    opacity: 1;
    transform: translateX(0);
} */



#textfeldmag {
    font-size: 32px;
	font-family: 'Times New Roman', Times, serif;
	font-size: 24px;
    font-weight: bold;
    animation: colorChangeorange 2s infinite;
	filter: drop-shadow(0 0 5px rgba(255, 165, 0, 1));
}
#textfeldmag2 {
    font-size: 24px;
	font-family: 'Times New Roman', Times, serif;
}
#textfeldmag3 {
    font-size: 32px;
	font-family: 'Times New Roman', Times, serif;
}
#textfeldmag4 {
    font-size: 32px;
	font-family: 'Times New Roman', Times, serif;
}


@keyframes colorChangeorange {
     0% {
        transform: translateX(100%); /* Startposition außerhalb der rechten Seite */
        color: #FF9E00; /* Anfangsfarbe: rot */
    }
    50% {
        transform: translateX(0); /* Mitte: Text ist an seiner normalen Position */
        color: #87D600; /* Mitte: heller Rotton */
    }
    100% {
        transform: translateX(-100%); /* Ende: Text ist auf der linken Seite außerhalb des Bildschirms */
        color: #FF9E00; /* Ende: zurück zur roten Farbe */
    }
}




/*.sirupmag {
    position: absolute;
    top: 60%;
    right: 20%;
    width: 300px;
    height: auto;
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
    transition: transform 0.6s ease-out, filter 1s ease-out;
}

.sirupmag:hover {
    transform: scale(1.5);
    filter: drop-shadow(0 0 20px rgba(255, 255, 0, 1));
}

.siruptar {
    position: absolute;
    top: 90%;
    left: 20%;
    width: 300px;
    height: auto;
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
    transition: transform 0.6s ease-out, filter 1s ease-out;
}

.siruptar:hover {
    transform: scale(1.5);
    filter: drop-shadow(0 0 20px rgba(255, 255, 0, 1));
} */



footer {
	position: fixed;
    text-align: center;
    background-color: #A800AC;
    color: white;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}

/*img {
    width: 20%; /* Makes the image take up the full width of its container */
    /*max-width: 600px; /* Sets a maximum width */
   /* height: auto; /* Ensures the aspect ratio is maintained */
 /*   border: 2px solid #ccc; /* Adds a border around the image */
/* }
.class {
    float: right; */

/*}*/

@media only screen and (max-width : 920px ){
	
.colorflower {
    width: 100px;
	bottom: 1%;
	left: 1%;
	filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1));
}


.sirupfam {
	left: 0%;
	transform: translateX(-10%);
	}

.sirupfam.large {
	transform-origin: center;
	transform: translateX(-10%) scale(1.2);
	filter: drop-shadow(0 0 20px rgba(255, 255, 0, 1));
}

.price-72 {
	position: absolute;
	top: 0%;
	width: 80px;
	transform: translateX(210%) rotate(20deg);
}

.price-72:hover {
	top: 0%;
	transform: translateX(210%) rotate(0deg) scale(1.2);
}

.text-fam {
	position: relative;
    transform: translate(30%, -100%);
    max-width: 300px;
    transition: transform 0.5s ease-out, opacity 0.4s;
}

.text-fam.show {
	transform: translate(70%, -100%);
}



.sirupfamsmal {
	transform: translateX(0%);
	}

.sirupfamsmal.large {
	transform-origin: center;
	transform: translateX(0%) scale(1.2);
	filter: drop-shadow(0 0 20px rgba(255, 255, 0, 1));
}

.price-28 {
	position: absolute;
	right: 0%;
	top: 0%;
	width: 80px;
	transform: translateX(-260%) rotate(20deg);
}

.price-28:hover {
	top: 0%;
	right: 0%;
	transform: translateX(-260%) rotate(0deg) scale(1.2);
}

.text-famsmall {
	position: absolute;
	opacity: 0;
	right: 0%;
    transform: translate(-30%, 0%);
    max-width: 300px;
    transition: transform 0.5s ease-out, opacity 0.4s;
}

.text-famsmall.show {
	right: 0%;
	transform: translate(-77%, 0%);
}



}
